{{ define "main" }}
<section class="bank-artikel container">
  <h1 class="page-title">Daftar Artikel</h1>

  <div class="artikel-grid">
    {{ range .Pages }}
      <div class="artikel-card">
        <div class="artikel-body">
          
          <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
          <small class="artikel-date">{{ .Date.Format "02 Jan 2006" }}</small>
          {{with .Params.tags }}
                <div class="tags-container">
                    {{ range . }}
                        <span class="tag-item">{{ . }}</span>
                    {{ end }}
                </div>
            {{ end }}
          <p>{{ .RawContent | truncate 60 }}</p>
          <a href="{{ .RelPermalink }}" class="btn-baca">Baca Selengkapnya →</a>
        </div>
      </div>
    {{ end }}
  </div>
</section>
{{ end }}